<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No, Really, Name That Movie, Please?</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='moviefavicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <main class="grid-box">
      <div class="image-title">
        <img
          src="{{ url_for('static', filename='movie-projector.png') }}"
          alt=""
        />
        <h1>
          No, Really... <br />
          Name That Movie, Please?
        </h1>
      </div>
      <form action="/" method="post" class="form">
        <div class="form-button">
          <input
            type="text"
            name="description"
            placeholder="Enter a movie description..."
            autocomplete="off"
            maxlength="70"
            required
          />
          <div class="button">
            <button type="submit" value="Go">Go</button>
          </div>
        </div>
      </form>
      {% if result %}
      <div class="input-result">
        <h3>Your Description: <br />"{{input}}"</h3>
        <h2>You might be thinking of... <br />{{result}}</h2>
        <a
        href="{{url_for('share_twitter')}}"
        target="_blank"
        class="twitter-button"
        >
        <img src="{{ url_for('static', filename='twitterbig.png') }}" alt="" />
      </a>
    </div>
      {% endif %}
    </main>
  </body>
</html>
